body{
margin:0;
background:#0d47a1;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:white;
padding:40px;
width:400px;
border-radius:20px;
text-align:center;
box-shadow:0 0 25px rgba(0,0,0,.3);
}

.logo{
width:100px;
margin-bottom:15px;
}

h1{
color:#0d47a1;
font-size:28px;
margin:0;
}

h2{
margin:5px;
color:#555;
}

.input-box{
border:1px solid #ccc;
padding:10px;
border-radius:10px;
margin:20px 0;
display:flex;
align-items:center;
}

.input-box input{
border:none;
outline:none;
width:100%;
font-size:18px;
padding-left:10px;
}

button{
width:100%;
padding:15px;
border:none;
background:#1565c0;
color:white;
font-size:18px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#0d47a1;
}

#msg{
margin-top:20px;
color:red;
font-weight:bold;
font-size:20px;
}
